fieldset {
    background-color: beige;
}
h1 {
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
legend {
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.items {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
h2 {
    position: relative;
    margin: 0;
    padding: 10px 0;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
}
.undone {
    order: 3;
}
input[type=checkbox] {
    display: block;
    height: 53px;
    margin: 0 0 -52px 20px;
    order: 4;
    outline: none;
    animation: undone .5s;
}
label {
    display: block;
    position: relative;
    padding: 15px 0 15px 45px;
    border-top: 1px dashed #fff;
    order: 4;
    cursor: pointer;
    animation: undone .5s;
    font-family: Arial, Helvetica, sans-serif;
}
input:checked {
    order: 2;
    animation: done .5s;
}
.plus {
    font-size: 2vw;
}
input:checked + label {
    order: 2;
    animation: done .5s;
}
@keyframes done {
0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, .4);
    transform: translateY(20px);
}
50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, .4);
}
}
@keyframes undone {
0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, .4);
    transform: translateY(-20px);
}
50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, .4);
}
}